<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >

    <head>
        <p>
            <a href="/" title="">login</a> |<a href="logout" title="">logout</a>
            | <a href="owner" title="">owner</a>| <a href="add_owner" title="">add_owner</a>
            | <a href="edit_owner" title="">edit_owner</a> | <a href="dashboard" title="">dashboard</a>
            | <a href="gestion" title="">gestion</a> |<a href="add_dl" title="">add_dl</a>
            | <a href="edit_dl" title="">edit_dl</a>| <a href="info_dl" title="">info_dl</a>
           |  <a href="remove_dl" title="">remove_dl</a>| <a href="admin/" title="">admin</a>
        </p>
        <title>{{page}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
    </head>
    <body>
        <b>WELCOME </b>in  <i>{{page}}</i>
    </body>

</html>
